.exhibit__contents{
  width: 620px;
  height: 100%;
	padding: 40px;
	border-top: 1px solid $lightgray;
  clear: both;
  &__head{
    float: left;
    color: #888;
    font-size: 14px;
    font-weight: bold;
  }
  &__question{
    margin-left: 5px;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #0099e8;
    color: $white;
    line-height: 14px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    }
  &__box{
  	float: right;
    width: 400px;
    margin-bottom: 40px;
    &__groups__2{
      margin: 40px 0 0;
    }
    .exhibit__select{
      margin: 8px 0 0;
      position: relative;
      background: $white;
      &__default{
        overflow: hidden;
        background-image: url(https://doyouv.com/skin/frontend/base/default/onestepcheckout/images/icon_arrow.svg);
        background-repeat: no-repeat;
        background-size: 12px 10px;
        background-position: right 10px center;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 400px;
        z-index: 2;
        height: 48px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid $gray;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
        }
        &__brand{
          width: 366px;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid $gray;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
        }
      .fa-angle-down{
        position: absolute;
        right: 16px;
        top: 35%;
        z-index: 2;
        color: #888;
        font-size: 20px;
        display: inline-block;
        speak: none;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
      }
    }

  }
}
.exhibits__contents{
  padding: 40px;
  border-top: 1px solid $lightgray;
  clear: both;
  height: auto;
  &__box{
    float: right;
    width: 400px;
    margin-bottom: 40px;
    .exhibit__select{
      margin: 8px 0 0;
      position: relative;
      background: $white;
      &__defaults{
        overflow: hidden;
        background-image: url(https://doyouv.com/skin/frontend/base/default/onestepcheckout/images/icon_arrow.svg);
        background-repeat: no-repeat;
        background-size: 12px 10px;
        background-position: right 10px center;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 400px;
        z-index: 2;
        height: 48px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid $gray;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
      }
      &__defaults1{
        display: none;
        overflow: hidden;
        background-image: url(https://doyouv.com/skin/frontend/base/default/onestepcheckout/images/icon_arrow.svg);
        background-repeat: no-repeat;
        background-size: 12px 10px;
        background-position: right 10px center;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 400px;
        z-index: 2;
        height: 48px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid $gray;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
      }
      &__defaults2{
        display: none;
        overflow: hidden;
        background-image: url(https://doyouv.com/skin/frontend/base/default/onestepcheckout/images/icon_arrow.svg);
        background-repeat: no-repeat;
        background-size: 12px 10px;
        background-position: right 10px center;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 400px;
        z-index: 2;
        height: 48px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid $gray;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
      }
      &__default{
        overflow: hidden;
        background-image: url(https://doyouv.com/skin/frontend/base/default/onestepcheckout/images/icon_arrow.svg);
        background-repeat: no-repeat;
        background-size: 12px 10px;
        background-position: right 10px center;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 400px;
        z-index: 2;
        height: 48px;
        padding: 0 16px;
        border-radius: 4px;
        border: 1px solid $gray;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
      }
      .fa-angle-down{
        position: absolute;
        right: 16px;
        top: 35%;
        z-index: 2;
        color: #888;
        font-size: 20px;
        display: inline-block;
        speak: none;
        font-style: normal;
        font-weight: 600;
        line-height: 1;
      }
    }
  }
}
  .exhibit__contents.sel{
    padding: 40px;
    border-top: 1px solid $lightgray;
    height: 218px;

  }
  .exhibit__selects1{
    margin: 8px 0 0;
      position: relative;
      background: $white;
  }
  .exhibit__selects2{
    margin: 8px 0 0;
      position: relative;
      background: $white;
  }