.new-header{
  padding: 10px 210px 0 210px;
  height: 100px;
  color: black;
  &__top{
    height: 50px;
    &__logo{
      width: 134px;
      height: 36px;
      padding-top: 10px;
    }
  }
}
.main{
  display: flex;
  justify-content: center;
  height: 420px;
  &__container{
  	width: 700px;
  	background-color: white;
	.head{
	  height: 70px;
	  border-bottom: solid 0.5px #f5f5f5;
	  color: #333;
	  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
	  margin: 40px auto;
	  font-weight: bold;
	  font-size: 22px;
	  center{

	  }
  	}
  	.contents{
  		font-size: 12px;
  	  &__mail-adress{
  	  	text-align: center;
	    margin: 20px auto;
	    width: 40%;
	    padding: 15px 10px;
	    cursor: pointer;
	    background-color: #eee;
	    i{
	    	float: left;
	    	font-size: 20px;
	    	color: #c0c0c0;
	    }
	    a{
	    	color: black;
	    	font-size: 13px;
	    }
  	  }
  	  &__facebook{
  	    text-align: center;
	    margin: 20px auto;
	    width: 40%;
	    padding: 15px 10px;
	    cursor: pointer;
	    background-color: #385185;
	    i{
		  font-size: 25px;
		  color: #fff;
		  float: left;
		  margin-top: -3px;
	    }
	    a{
	      color:#fff;
	      font-size: 13px;
	    }
	  }
	  &__google{
	  	text-align: center;
	    margin: 20px auto;
	    width: 40%;
	    padding: 15px 10px;
	    border: 1px solid #979797;
	    cursor: pointer;
	    img{
	      width: 40px;
	      float: left;
	      margin-top: -10px;
	      margin-left: -10px;
	      float: left;
	    }
	    a{
	      color: black;
	      font-size: 13px;

	    }
	  }
	}
  }
}
.footer{
  background-color:#f5f5f5 ;
}