%footer.footer
  .footer__top
    .footer__top__leftbox
      %h2 メルカリについて
      %ul
        %li 会社概要
        %li 採用情報
        %li プレスリリース
        %li 公式ブログ
        %li メルカリロゴ利用ガイドライン
        %li.footer__top__leftbox__logo
          %i.fa.fa-twitter.fa-2x>

          %i.fa.fa-facebook.fa-2x
    .footer__top__rightbox
      %h2 ヘルプ＆ガイド
      %ul
        %li メルカリガイド
        %li らくらくメルカリ便
        %li ゆうゆうメルカリ便
        %li 大型メルカリ便
        %li 車体取り引きガイド
        %li メルカリあんぜん・あんしん宣言！
        %li 偽ブランド品撲滅への取り組み
        %li メルカリボックス
    .footer__top__middlebox
      %h2 プライバシーと利用規約
      .footer__top__middlebox__left_box
        %ul
          %li プライバシーポリシー
          %li メルカリ利用規約
          %li あんしんスマホサポート制度に関する利用特約
          %li コンプライアンスポリシー
      .footer__top__middlebox__right_box
        %ul
          %li 個人データの安全管理に係る基本方針
          %li 特定商取引に関する表記
          %li 資金決済法に基づく表示
          %li 法令順守と犯罪抑止のために
          %li 返品・返金ポリシー
    .footer__top__bottombox
      %h2 国
      %ul
        %li 日本
        %li United States
  .footer__bottom
    .footer__bottom__logo
      %a{href: "https://www.mercari.com/jp/"}
        %img{alt: "mercari", height: "33", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?228111635", :width => "124"}/
      %span.footer__bottom__copyright © 2019 Mercari
