<header class = "header">
    <div header__top_box>
        <div class = "header__top_box__logo">
            <a href = "">
                <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?228111635" alt="mercari">
            </a>
        </div>
        <div class = "header__top_box__option">
            <a href="" class = "header__top_box__option__bell">
                <%= fa_icon("bell") %>
            </a>
            <a href="" class = header__top_box__option__check>
                <%= fa_icon("check") %>
            </a>
            <a href="" class = header__top_box__option__mypage>
                <div class= "header__top_box__option__mypage__icon">
                    <img src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="" width="32">
                </div>
            </a>
        </div>
    </div header__top_box>

    <div header__middle_box>
        <form action="" class=header__middle_box__search_box>
            <input type="search" class="header__middle_box__search_box__word">
            <i class="header__middle_box__search_box__icon"></i>
        </form>
    </div>

    <div header__bottom_box>
        <a href="" class="header__bottom_box__left_box">
            <i class = "header__bottom_box__left_box__icon"></i>
            <span>カテゴリから探す</span>
        </a>

        <a href="" class="header__bottom_box__right_box">
            <i class = "header__bottom_box__right_box__icon"></i>
            <span>ブランドから探す</span>
        </a>
    </div>
</header>

<footer class = "footer">
    <div class="footer__top">
        <div class="footer__top__leftbox">
        </div>

        <div class="footer__top__rightbox">
        </div>

        <div class="footer__top__middlebox">
            <div class="footer__top__middlebox__left_box">
            </div>
            <div class="footer__top__middlebox__right_box">
            </div>
        </div>

        <div class="footer__top__bottombox">
        </div>
    </div>

    <div class="footer__bottom">
        <div class="footer__bottom_logo">
        </div>
        <div class="footer__bottom_copyright">
    </div>
</footer>