= render 'header'
-# .bread_crumbs
-# 	.bread_crumbs__text
-# 		- breadcrumb :search_items, @item
-# 		= breadcrumbs separator: "&rsaquo;"

= render 'search-result'
= render 'bottom-banner'
= render 'footer'
